/* normalize */
body {
   margin: 0; 
  }

/* global styles */
video {
  background-color: #111;
  width: 100%;
}

.heading {
  text-align: center;
  margin-bottom: 0;
}

.note {
  text-align: center;
}

.meta {
  text-align: center;
  font-size: .8rem;
  color: gray;
}

.container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  height: 100%;

}

/* p2p-media styles */
.p2p-media {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* 相手 */
.p2p-media .remote-stream {
  width: 50%;
}
/* 自分 */
.p2p-media .local-stream {
  width: 30%;
}

/* p2p-data styles */
.p2p-data {
  display: grid;
  grid-template-columns: 30% 1fr;
  margin: 0 8px;
}

.p2p-data .messages {
  background-color: #eee;
  min-height: 100px;
  padding: 8px;
  margin-top: 0;
}

/* 相手のビデオ画面変更 */
.room .remote-streams {
  background-color: #f6fbff;
  border: solid;
  background-color: #3B1D70;
  border-color: #f6fbff;
}

/*人数変更*/
.remote-streams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: solid;
  border-color: #031de2;
  background-color: #3B1D70;
}

.camera-btn{
  display: inline-block;
  text-decoration: none;
  background: #3B1D70;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.camera-btn:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./video_ON.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.camera-btn:hover{
  background: #ffffff;
}

.camera-btn_OFF{
  display: inline-block;
  text-decoration: none;
/*  background: #3B1D70; */
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.camera-btn_OFF:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./video_OFF.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.camera-btn_OFF:hover{
  background: #ffffff;
}

.mic-btn{
  display: inline-block;
  text-decoration: none;
/*  background: #3B1D70; */
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.mic-btn:hover{
  background: #ffffff;
}
.mic-btn:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./mic_ON.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.mic-btn_OFF{
  display: inline-block;
  text-decoration: none;
  background: #3B1D70;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.mic-btn_OFF:hover{
  background: #ffffff;
}
.mic-btn_OFF:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./mic_OFF.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.leave-btn{
  display: inline-block;
  text-decoration: none;
  background: #3B1D70;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.leave-btn:hover{
  background: #ffffff;
}
.leave-btn:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./Leave.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.canvas2_cover{
  filter: brightness(0%);
}
/* スマホ写した時 */
/* @media screen and (max-width: 380px){
  .room {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 8px;
    margin: 0 8px;
    background-color: #3B1D70;
    height:100%;
	  border:dotted 2px #666666;
  }
} */

/* オーバーレイ */
.overlay-all {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  z-index: 100;
  background: #3B1D70;
}

img#top_wait{
  width: auto;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 100px;
  
}

div#title_wait{
  font-family: 'Megrim', cursive;
  font-size: 50px;
  font-style: normal;
  color: #DB560E;
  text-align: center;
}

p#wait_message{
  text-align: center;
  color: #e5e5e5;
  margin-top: 100px;
}

/* 各機能ボタン */
style.css
.camera-btn{
  display: inline-block;
  text-decoration: none;
/*  background: #3B1D70; */
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.camera-btn:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./image/video_on.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.camera-btn:hover{
  background: #FFFFFF;
}
.camera-btn_OFF{
  display: inline-block;
  text-decoration: none;
/*  background: #3B1D70; */
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.camera-btn_OFF:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./image/video_off.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.camera-btn_OFF:hover{
  background: #FFFFFF;
}
.mic-btn{
  display: inline-block;
  text-decoration: none;
/*  background: #3B1D70; */
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.mic-btn:hover{
  background: #FFFFFF;
}
.mic-btn:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./image/voice_on.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.mic-btn_OFF{
  display: inline-block;
  text-decoration: none;
/*  background: #3B1D70; */
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.mic-btn_OFF:hover{
  background: #FFFFFF;
}
.mic-btn_OFF:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./image/voice_off.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.leave-btn{
  display: inline-block;
  text-decoration: none;
/*  background: #3B1D70; */
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.leave-btn:hover{
  background: #FFFFFF;
}
.leave-btn:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./Leave.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.share-btn{
  display: inline-block;
  text-decoration: none;
/*  background: #3B1D70; */
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}
.share-btn:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("./image/share.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.share-btn:hover{
  background: #FFFFFF;
}
/* 時間設定デザイン */
.btn_div{
  position: absolute;
  top: 103vh;
  bottom: 100vh;
  width: 76vw;
  text-align: center;
}
/* 時間設定デザイン */
button#test1 {
  margin: auto;
  width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
	border:1px solid #1B1B1B;
}
/* 時間設定デザイン */
button#test1:hover {
  background: #1B1B1B;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/* Loading */
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: black;
  z-index: 101;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 102;
}